body {
    overflow-x: hidden;
    width: 100%;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    background: rgb(85, 85, 85);
    min-height: 550px;
    background-attachment: fixed;
    box-sizing: border-box;
}

.bg {
    width: 100%;
    border: 5px solid rgb(66, 66, 66);
    min-height: 830px;
}

.bg1 {
    background: url(../image/bg.jpg)center center/cover;
    margin-top: 100px;
    width: 100%;
    /* margin-left: 15px; */
    min-height: 735px;
    /* border: 2px solid yellow; */
}

.quotes {
    /* border: 2px solid red; */
    margin-top: 80px;
    padding: 20px 0px;
    background-color: #323232;
    /* z-index: 100; */
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    text-align: center;
    /* margin-left: 40px; */
    color: white;
    font-size: 2rem;
    
}
.quotes span{
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: .2;
}
@keyframes move{
    50%{
        margin-left: 20px;
    }
    70%{
        margin-right: 20px;
    }
    100%{
        margin: 0px;
    }
}
.quotes span:nth-child(1) {
    display: block;
}

.quotes span:nth-child(2) {
    font-size: 1.2rem;
}

@font-face {
    font-family: 'typo';
    src: url('../fonts/typo.ttf');
}

@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
}

.panel {
    border-color: rgba(0, 0, 0, 0.63);
    margin: 40px;
    padding: 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

.title {
    font-family: 'typo';
}

.header {
    background: #000000;
    height: 70px;
}

.logo {
    font-family: 'typo';
    font-size: 35px;
    color: #ffffff;
    margin-left: 60px;
    /* margin:15px; */

}

.title1 {
    font: 16px "Century Gothic", "Times Roman", sans-serif;
}

.title2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}


.sub1 {
    width: 90px;
    color: #fffdfd;
    background: rgb(80, 80, 80);
    font-size: 15px;
    height: 35px;
    margin: 20px;
    padding: 10px;
    width: 100px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub {
    
    width: 100%;
    color: thistle;
    background-color: #000000;
    font-size: 20px;
    padding: 4px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

.sub:hover {
    color: #fff;
}

.footer {
    padding: 17px 0px;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid;
    border-color: #323232;
    background-color: #202020;
    /* width: 100%; */
    /* text-align: center; */
}

.footer a {
    padding: 5px;
    /* border: 1px solid green; */
    /* margin-right: 200px; */
    /* margin: 25px; */
    color: rgb(223, 220, 215);
    text-decoration: none;
    font: 15px "Century Gothic", "Times Roman", sans-serif;

}

.footer a:hover {
    text-decoration: none;
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;

}

.box {
    padding: 9px;
}

hr {
    color: #000000;
}

.top {
    margin-top: 20px;
}

.log1 {
    font: 15px 'Ubuntu', sans-serif;
    color: orange;
    margin-left: 10px;
}

.log {
    margin: 10px;
    margin-right: 60px;
    margin-left: 5px;
    color: orange;
    text-decoration: none;
    font-size: 20px;
    font-size: 15px;
}

.log:hover {
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;
    text-decoration: none;
}